body {
	overflow-x: hidden;

}

/* GLOBAL */
.row {
	margin: 50px;
}


/* Social Media Buttons - FOOTER */
.fa {
  padding: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 40px;
}


.fa:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.fa-facebook {
  background: #092a47;
  color: white;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #092a47;
  color: white;
}


.page-footer {
  background-color: #e8e8e8;
}

/* NAVIGATION-BAR */

.navigation-bar {
	background-color: #445e75;
	font-family: 'Raleway', sans-serif;
}


.nav-link {
	color: white;
	
}

.nav-link:hover {
	color: dodgerblue;
}



.body-nas {
 background-image: linear-gradient(to bottom, white , skyblue);
  animation-name: nas-bg;
  animation-duration: 10s;
    animation-play-state: forwards;
    animation-iteration-count: infinite;

}

@keyframes nas-bg {
  0% {
    background-image: linear-gradient(to bottom, white , #085f63);
    transition: 3s;
  }

  20% {
    background-image: linear-gradient(to bottom, white , #49beb7);
    transition: 3s;
  }

  40% {
    background-image: linear-gradient(to bottom, white , #32dbc6);
  }

  60% {
    background-image: linear-gradient(to bottom, white , #32dbc6);
  }

   80% {
    background-image: linear-gradient(to bottom, white , #49beb7);
  }

  100% {
    background-image: linear-gradient(to bottom, white , #085f63);
  }
}





/* ABOUT ME - PAGE */
.img-hobbies {
	border: 12px double gray;

}


.abt-content {
	font-family: 'Raleway', sans-serif;
	font-size: 21px;

}




.award img {
	transition: .6s;
}

.award img:hover {
	transition: .6s;
	transform: scale(1.3);
}

/* CONTACT - PAGE */
.contact-body {
	font-family: 'Raleway', sans-serif;
}



/* RESUME - PAGE */


.btn .fa {
	font-size: 40px;
  padding: 10px;
}

.btn .fa:hover {
	color: #445e75;
}




/* SKILLSET */

.skillset p {
    font-size: 22px;
}


.skill-img {

}


.skills-infos {
  font-size: 22px;
}

.skills {
  text-align: right; 
  padding: 10px; 
  color: white; 
}

.html {width: 60%; background-color: #0099ff;} 
.css {width: 50%; background-color: #0099ff;} 
.bootstrap {width: 40%; background-color: #0099ff;} 
.wordpress {width: 40%; background-color: #0099ff;} 




.vegas {width: 70%; background-color: #933d95;} 
.ps {width: 50%; background-color: #933d95;} 
.audio {width: 40%; background-color: #933d95;} 


.vb {width: 50%; background-color: #e09756;}
.th {width: 30%; background-color: #e09756;}
.ts {width: 70%; background-color: #e09756;} 

/* media queries */

@media only screen and (max-width: 600px) {
 

  .my-name h1{
 	font-size:.5em;
 	text-align: center;
	}
}

